header {
    font-weight: bold;
    text-align: center;
    color: black;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  color: crimson;
}

h2 {
    font-size: 12px;
}


