header {
    font-weight: bold;
    text-align: center;
    color: black;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  color: crimson;
}
table {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
}
h2 {
    font-size: 20px;
}

form {
    font-size: 14px;
}

thead {
    font-weight: bold;
}

